eurekaUrl:   $[eurekaUrl:http://eurekaserver-service:8761/eureka}
management:
  endpoints:
   enabled-by-default: false
   web:
      exposure:
        include: 
          -* 
spring:
  rabbitmq:
    host: mosquito.rmq.cloudamqp.com
    port: 5672
    virtual-host: mnrvwrbj
    username: mnrvwrbj
    password: RnAVRqttZHMeSMmZEZJMfTcf7Wg2ACl6

eureka:
  client:
    service-url:
      defaultZone: http://ec2-13-56-231-47.us-west-1.compute.amazonaws.com:8761/eureka
      
 #curl -v -H "Content-Type: application/json" -H "X-Event-Key: repo:push" -H "X-Hook-UUID: webhook-uuid"  -X POST  http://localhost:8888/monitor -d  "{\"push\": {\"changes\": []} }" 