#eurekaHost:  eurekaserver-service
#eurekaHost:  localhost
#eurekaUrl: http://${eurekaHost}:8761/eureka
management:
  endpoints:
   enabled-by-default: false
   web:
      exposure:
        include: 
          -* 
eureka:
  instance:
    hostname: eurekaserver-service
    prefer-ip-address: true
  client:
    service-url:
      defaultZone: http://eurekaserver-service:8761/eureka 